.container{
  background-color: darkgrey;
  height: 100vh;
}

.arm {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDDDCA;
  flex-direction: column;
}